* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b49595;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmin;
}

#boardGame {
    --cellSize: 20vmin;
    --cellGap: 2vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cellSize));
    grid-template-rows: repeat(4, var(--cellSize));
    gap: var(--cellGap);
    border-radius: 1vmin;
}

.cell {
    background-color: #453b54;
    border-radius: 1vmin;
}

.tile {
    --y: 0;
    --x: 0;
    --bgLightness: 0.1;
    --textLightness: 0.1;
    position: absolute;
    top: calc(var(--y) * (var(--cellSize) + var(--cellGap)));
    left: calc(var(--x) * (var(--cellSize) + var(--cellGap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cellSize);
    height: var(--cellSize);
    border-radius: 1vmin;
    font-family: Monaco, Helvetica, sans-serif;
    font-size: 8vmin;
    font-weight: bold;
    background-color: hsl(25, 60%, var(--bgLightness));
    color: hsl(20, 25%, var(--textLightness));
    transition: 100ms;
    animation: show 200ms;
}

@keyframes show {
    0% {
       opacity: 0.5;
        transform: scale(0);
    }
}

